.about-modal { 
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.4em);
  z-index: 10000;
}

.modal-open .about-modal {
  display: block;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 30px;
}

.modal-title {
  background-color: var(--clr-purple);
  border-radius: 5px;
  padding: 5px 20px;
  margin: 0 auto;
  font-size: 55px;
  display: inline-flex;
}
.modal-title-text {
  padding: 0 15px 10px 0;
}
.cat-icon { margin-top: 5px }

.close-modal-btn {
  background: transparent;
  color: var(--clr-tealblue);
  border: none;
  cursor: pointer;
  z-index: 10001;
  font-size: 40px;
}

.close-modal-btn:hover { color: var(--clr-purple) }

/* carousel */
.carousel {
  width: 80%;
  height: 75%;
  border: solid var(--clr-tealblue) 7px;
  border-radius : 10px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.carousel-stat { 
  font-size: 1.5em;
  text-align: left;
}

.carousel-stat span:first-child { 
  color: var(--clr-light);
}

.carousel-stat span::after {
  content: "\a";
  white-space: pre;
}

.carousel-image {
  width: 30%;
  height: fit-content;
  border-radius: 10px;
}


@media screen and (max-width: 800px) {
  .about-modal {
    padding: 15px 0.5em;
  }
  .close-modal-btn { 
    font-size: 30px; 
    align-self: flex-start;
  }

  .modal-title { 
    font-size: 40px; 
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
  }

  .modal-title-text {
    font-size: 0.75em;
    padding: 0;
  }
}