
/* colors ->  
  #4C86A8(steelblue) 
  #477890(tealblue) 
  #84596B(mauvetaupe) 
  #EEF0EB(alabaster) 
  #051923(richblackFOGRA29) 
*/

body {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  background: #051923;
  color: #EEF0EB;
}

.text {
  margin-bottom: 40px;
}

h1 {
  font-family: 'Square Peg', sans-serif;
  font-size: 8.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

p {
  font-size: 2em;
  color: #dea6bc;
  margin: 10px;
}

button {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #EEF0EB;
  padding: 20px 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #4C86A8;
  cursor: pointer;
}

button:hover {
  background: #477890;
}

/* Cards */

.card-grid {
  margin: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 12%);
  gap: 1.5em;
  cursor: grab;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 3em;
  }

  button {
    font-size: 1em;
    padding: 5px 10px;
  }

  p {
    font-size: 1em;
    margin: 0px;
  }

  .text {
    margin-bottom: 5px;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex-basis: 21%;
  }
}


@media screen and (max-width: 450px) {
  h1 {
    font-size: 2em;
  }

  button,
  p {
    font-size: 0.75em;
  }

  .card-grid {
    margin: 15px 5px;
    gap: 1em;
  }

  .card {
    flex-basis: 25%;
  }
}