@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Square+Peg&display=swap');
/* colors ->  
  #4C86A8(steelblue) 
  #477890(tealblue) 
  #84596B(mauvetaupe) 
  #EEF0EB(alabaster) 
  #051923(richblackFOGRA29) 
*/

body {
  text-align: center;
  margin: 0;
  background: #051923;
  color: #EEF0EB;
}

h1 {
  font-family: 'Square Peg', sans-serif;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  color: #dea6bc;
}

button {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #EEF0EB;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #4C86A8;
  cursor: pointer;
}

button:hover {
  background: #477890;
}

/* Cards */
img {
  width: 85%;
}

.card-grid {
  margin: 80px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  cursor: grab;
}
