.card {
    position: relative;
}

.card img {
    display: block;
    border: 10px solid #56334f;
    border-radius: 8px;
}

/* front of card (picture) */
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.3s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.05s;
}

/* back of card (cover) */
.card .back {
    transform: all ease-in 0.3s;
    transition-delay: 0.35s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0.05s;
}


@media screen and (max-width: 850px) {
    .card img {
        border: 8px solid #56334f;
    }
}

@media screen and (max-width: 450px) {
    .card img {
        border: 5px solid #56334f;
    }
}