@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Square+Peg&display=swap');

.App {
  margin: auto;
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.loading-msg,
.error-msg {
  font-style: italic;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -60px;
}

img {
  max-width: 100%;
  display: block;
}